{% import "macros.html" as macros %}
{% if groups.is_empty() %}
{{ macros::empty_state(icon="photo_library", message="No photos yet", sub_message="Upload some photos to get started") }}
{% else %}
<div class="photo-grid">
    {% for group in groups %}
    {% if group.show_header %}
    {% include "components/month_header.html" %}
    {% endif %}
    {% for photo in group.photos %}
    {% include "components/photo_card.html" %}
    {% endfor %}
    {% endfor %}
    {% let load_more_url = "/gallery/more" %}
    {% let category = Some(current_category) %}
    {% include "components/load_more_trigger.html" %}
</div>
{% endif %}
