<div id="photo-card-{{ photo.id }}" class="photo-card"
     data-photo-id="{{ photo.id }}"
     onclick="photoViewer.open({{ photo.id }}, this)">
    <img data-src="/photos/preview/{{ photo.id }}"
         alt=""
         {% if let Some(thumb_hash) = photo.thumb_hash %}data-thumbhash="{{ thumb_hash }}"{% endif %}
         class="w-full h-full object-cover"/>
    {% if photo.is_favorite %}
    <span id="photo-card-fav-{{ photo.id }}" class="favorite-indicator material-symbols-outlined"
          style="font-variation-settings: 'FILL' 1;">favorite</span>
    {% endif %}
</div>
