{% extends "base.html" %}

{% block title %}Favorites - Family Photos{% endblock %}

{% block page_title %}Favorites{% endblock %}

{% import "macros.html" as macros %}

{% block content %}
{% if groups.is_empty() %}
{{ macros::empty_state(icon="favorite", icon_fill=true, message="No favorites yet", sub_message="Click the heart icon on photos to add them to favorites", cta_url="/", cta_text="Browse Photos") }}
{% else %}
<div class="photo-grid">
    {% include "components/photo_grid_content.html" %}
    {% let load_more_url = "/favorites/more" %}
    {% let category = None::<PhotoCategory> %}
    {% include "components/load_more_trigger.html" %}
</div>
{% endif %}
{% endblock %}
