{% extends "base.html" %}

{% block title %}Login - Family Photos{% endblock %}

{% block sidebar_content %}{% endblock %}

{% block content %}
<div class="flex w-full justify-center items-center min-h-[70vh]">
    <form class="flex flex-col gap-6 w-full max-w-sm" hx-post="/login" hx-target="#error" hx-swap="outerHTML">
        <h1 class="text-3xl font-bold text-center mb-2">Login</h1>

        <label class="input input-bordered flex items-center gap-2">
            <span class="material-symbols-outlined">person</span>
            <input type="text" class="grow" placeholder="User ID" name="user_id" required autocomplete="username"/>
        </label>

        <label class="input input-bordered flex items-center gap-2">
            <span class="material-symbols-outlined">key</span>
            <input type="password" class="grow" placeholder="Password" name="password" id="password" required autocomplete="current-password"/>
        </label>

        <label class="cursor-pointer label justify-start gap-3">
            <input type="checkbox" class="checkbox checkbox-primary" autocomplete="off" onclick="togglePassword()"/>
            <span class="label-text">Show password</span>
        </label>

        <div id="error"></div>

        <button class="btn btn-primary w-full" type="submit">
            <span class="material-symbols-outlined">login</span>
            Login
        </button>
    </form>
</div>

<script>
    function togglePassword() {
        const password = document.getElementById("password");
        password.type = (password.type === "password" ? "text" : "password");
    }
</script>
{% endblock %}
